<div fxLayout="column"  fxLayoutGap="5px">
  <div fxLayout="row" fxLayoutGap="5px">
    <mat-card fxFlex>
      <app-cancellable-test></app-cancellable-test>
    </mat-card>
    <mat-card fxFlex>
      <app-await-vs-observable></app-await-vs-observable>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutGap="5px">
    <mat-card fxFlex>
      <app-play-with-promises></app-play-with-promises>
    </mat-card>
    <mat-card fxFlex>
      <app-multiple-http-requests-with-observables></app-multiple-http-requests-with-observables>
    </mat-card>
  </div>
</div>
