<div fxLayout="row" fxLayoutGap="3px">
  <div fxFlex>
    <h3>Promise</h3>
    <button mat-raised-button color="primary" (click)="getRandomNumberWithPromise()">Get Random Number</button><br />
    <button mat-raised-button color="warn" (click)="tryToCancelPromise()">Try To Cancel Promise</button>
  </div>
  <div fxFlex>
    <h3>Observable</h3>
    <button mat-raised-button color="primary" (click)="setRandomNumberObservable()">Set Observable</button><br />
    <button mat-raised-button color="warn" (click)="subscribeButCancelEarly()">Sub & Cancel</button><br />
    <button mat-raised-button color="accent" (click)="subscribeAndLetFinish()">Sub</button><br />
  </div>
</div>
